<!doctype html>
<html lang="id">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Membantu untuk memcari tempat makan yang unik.">
    <meta name="theme-color" content="#bfd8d5">
	<title>
		U-nix Resto
	</title>
    <link rel="apple-touch-icon" href="images/logo/unix-logo-128x128">
	<link rel="manifest" href="manifest.json">
	<link rel="icon" href="images/logo/unix-logo.jpg" type="image/jpg">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
	<link rel="preload" href="https://restaurant-api.dicoding.dev/list" as="fetch" crossorigin="">
</head>
<body>
	<a href="#drawer" class="skip-link">Menuju ke konten</a>
	<header>
		<div class="inner">
			<h1 class="title">
				<a href="/#/">
					U-nix Resto
				</a>
			</h1>
		</div>
		<button aria-label="Daftar Menu" id="menu">&#9776;</button>
	</header>
	<nav id="drawer">
		<ul>
			<li role="tab">
				<a href="#/">
					Beranda
				</a>
			</li>
			<li role="tab">
				<a href="#/favorite">
					Favorit
				</a>
			</li>
			<li role="tab">
				<a rel="noreferrer" href="https://web.facebook.com/profile.php?id=100009221318814" target="_blank">
					Tentang Kami
				</a>
			</li>
		</ul>
	</nav>
	<main>
	</main>
	<footer>
		<p>
			2021 @ U-nix Resto
		</p>
	</footer>
</body>
</html>
