<!doctype html>
<html lang="id">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		U-nix Resto
	</title>
	<link rel="icon" href="images/logo/unix-logo.jpg" type="image/jpg">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
	<a href="#drawer" class="skip-link">Menuju ke konten</a>
	<header>
		<div class="inner">
			<h1 class="title">
				U-nix Resto
			</h1>
		</div>
		<button id="menu">☰</button>
	</header>
	<nav id="drawer">
		<ul>
			<li>
				<a href="/">
					Beranda
				</a>
			</li>
			<li>
				<a href="#">
					Favorit
				</a>
			</li>
			<li>
				<a href="https://web.facebook.com/profile.php?id=100009221318814" target="_blank">
					Tentang Kami
				</a>
			</li>
		</ul>
	</nav>
	<div class="banner">
		<div>
			<h1>
				Jelajahi Resto Menarik
			</h1>
			<p>
				Carilah sensasi yang menarik saat makan
			</p>
		</div>
	</div>
	<main>
		<section class="content">
			<div class="latest">
				<h1 class="latest__label">
					Daftar Resto
				</h1>
				<div class="restaurants" id="restaurant-list">
				</div>
			</div>
		</section>
	</main>
	<footer>
		<p>
			2021 @ U-nix Resto
		</p>
	</footer>
</body>
</html>
