<!doctype html>
<html lang="id">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		U-nix Resto
	</title>
	<link rel="icon" href="images/logo/unix-logo.jpg" type="image/jpg">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
	<a href="#drawer" class="skip-link">Menuju ke konten</a>
	<header>
		<div class="inner">
			<h1 class="title">
				<a href="/">
					U-nix Resto
				</a>
			</h1>
		</div>
		<button id="menu">☰</button>
	</header>
	<nav id="drawer">
		<ul>
			<li role="tab">
				<a href="/">
					Beranda
				</a>
			</li>
			<li role="tab">
				<a href="#">
					Favorit
				</a>
			</li>
			<li role="tab">
				<a rel="noreferrer" href="https://web.facebook.com/profile.php?id=100009221318814" target="_blank">
					Tentang Kami
				</a>
			</li>
		</ul>
	</nav>
	<main>
	</main>
	<footer>
		<p>
			2021 @ U-nix Resto
		</p>
	</footer>
</body>
</html>
