* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	color: #424242;
}

/*
 * header
*/

.header {
	min-height: 56px;
	transition: min-height 0.3s;
}

.header__inner {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.header__title {
	font-weight: 300;
	font-size: 4em;
	margin: 0.5em 0.25em;
	display: inline-block;
	color: #212121;
}

/*
 * navigation
*/

.nav{
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	a{
		display: inline-block;
		padding: 1.3em;
		text-decoration: none;
		color: #616161;

		&::hover {
			text-decoration: underline;
			color: #000;
		}
	}
}

.nav__list {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}

.nav__item {
	box-sizing: border-box;
	display: inline-block;
	width: 24%;
	text-align: center;
	line-height: 24px;
	text-transform: uppercase;
}



/*
 * Jumbotron
*/


.hero {
	display: flex;
	align-items: center;
	min-height: 380px;
	width: 100%;
	text-align: center;
	background-image: url("hero-image_4.jpg");
	background-position: center;
	background-color: green;
}

.hero__inner {
	margin: 0 auto;
	max-width: 800px;
}

.hero__title {
	color: #fff;
	font-weight: 500;
	font-size: 36px;
}

.hero__tagline {
	color: #fff;
	margin-top: 16px;
	font-size: 18px;
	font-weight: 300;
}

/*
 * main
 */

main {
	width: 100%;
	margin: 0 auto;
	min-height: 33.5vh;
}

/*
 * content
 */

.content {
	padding: 32px;
}

/*
 * headline
 */

.headline{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.headline__figure {
	width: 100%;
}

.headline__figure img {
	width: 100%;
}

.headline__figure figcaption {
	text-align: center;
	color: #666666;
	font-size: 12px;
	font-weight: 400;
	margin-top: 8px;
}

.headline__content {
	width: 100%;
	padding: 16px 0px;
}

.headline__title {
	font-size: 25px;
	font-weight: 500;
}

.headline__description {
	font-size: 14px;
	margin-top: 12px;
}

.headline__button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	margin-top: 24px;
	cursor: pointer;
	padding: 8px 16px;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: #2c3e50;
	transition: opacity 0.3s;

	&::hover{
		opacity: 0.8;
	}
}

/*
 * latest
 */

.latest {
	width: 100%;
	margin: 60px auto;
	text-align: center;
}

.latest__label {
	font-size: 32px;
	font-weight: lighter;

	&::after{
		content: '';
		margin-top: 16px;
		display: block;
		border-bottom: 1px solid #eeeeee;
	}
}

/*
 * post
 */

.posts {
	display: grid;
	margin: 32px auto auto;
	text-align: left;
	overflow: auto;
	grid-template-columns: repeat(1 , 1fr);
	row-gap: 16px;
}

/*
 * post item
 */

.post-item {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}


.post-item__content {
	padding: 16px 32px 32px 32px;
}

.post-item__thumbnail {
	width: 100%;
}

.post-item__date {
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
}

.post-item__date__author {
	color: red;
	text-decoration: none;
}

.post-item__title {
	font-weight: 500;
	font-size: 18px;
	margin-top: 16px;
	transition: 0.3s opacity;

	&::hover {
		opacity: 0.5;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

.post-item__description {
	margin-top: 16px;
	font-size: 14px;
	line-height: 1.5em;
}

/*
 * footer
 */

footer {
	background-color: #2c3e50;
	padding: 2em;
	width: 100%;
	text-align: center;

	ul {
	margin: 0 auto;
	display: inline-block;
	}

	li {
		display: inline-block;
		margin: 0 1em;
		font-size: 14px;
	}

	a {
		display: inline-block;
		padding: 1.3em;
		text-decoration: none;
		color: #fff
	}
}

@media screen and (min-width: 700px ) {
	.headline__description {
		font-size: 14px;
	}

	.headline__title {
		font-size: 25px;
	}

	.headline__content {
		padding: 0px 20px;
	}

	.headline{
		grid-template-columns: repeat(2, 1fr);
	}

	.posts {
		column-gap: 10px;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1200px ) {
	.headline__description {
		font-size: 16px;
	}

	.headline__title {
		font-size: 32px;
	}

	.headline__content {
		padding: 16px 32px;
	}

	.headline {
		margin:0px auto;
	}

	.latest, .headline {
		max-width: 1200px;
	}


	.posts {
		column-gap: 10px;
		grid-template-columns: repeat(3, 1fr);
	}
}